<plugin name='authorize-net' version='0.13' grailsVersion='2.4.4 &gt; *'>
  <author>Bob Pawlowski</author>
  <authorEmail>bob@vinomis.com</authorEmail>
  <title>Authorize.net Plugin</title>
  <description>\
Authorize.net Plugin does simple authorize/capture, void, and refund operations.
</description>
  <documentation>http://grails.org/plugin/authorize-net</documentation>
  <type>AuthorizeNetGrailsPlugin</type>
  <resources>
    <resource>DefaultAuthorizeNetConfig</resource>
    <resource>com.vinomis.authnet.AuthorizeNet</resource>
    <resource>com.vinomis.authnet.AuthorizeNetResponse</resource>
  </resources>
</plugin>